body {
  background-color: rgb(30, 30, 30);
}
h1, h2, h3, h4, h5, h6, p, p1, p2, article, div{
  color: rgb(255, 255, 255);
}
p1 {
  font-size: 18px;
}
p2 {
  font-size: 20px;
}
body{
  margin-right: 200px;
  margin-left: 200px;
}

a:link {
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: none;
}

a:visited {
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: rgb(129, 126, 126);
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

/* Social Media Icons */
.fa {
  padding: 20px;
  font-size: 150px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center90 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}